{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_style_image_0e40efc2-04bb-443c-a066-82ad2ffc2cbb = section.settings['replo_style_image_0e40efc2-04bb-443c-a066-82ad2ffc2cbb'] | image_url -%}
    {%- capture default_replo_style_image_0e40efc2-04bb-443c-a066-82ad2ffc2cbb -%}https://cdn.shopify.com/s/files/1/1559/9679/files/ucNWupz0T1uzggmaxBFQpQ.jpg?v=1729843513{%- endcapture -%}
    {%- assign replo_style_image_0e40efc2-04bb-443c-a066-82ad2ffc2cbb = replo_style_image_0e40efc2-04bb-443c-a066-82ad2ffc2cbb | default: default_replo_style_image_0e40efc2-04bb-443c-a066-82ad2ffc2cbb -%}
    "replo_style_image_0e40efc2-04bb-443c-a066-82ad2ffc2cbb": {{ replo_style_image_0e40efc2-04bb-443c-a066-82ad2ffc2cbb | json }}, {%- assign replo_text_e30842c3-58d7-49cd-8169-1be7e208c3d2 = section.settings['replo_text_e30842c3-58d7-49cd-8169-1be7e208c3d2'] -%}
    {%- capture default_replo_text_e30842c3-58d7-49cd-8169-1be7e208c3d2 -%}<p>45,000 Verified Reviews</p>{%- endcapture -%}
    {%- assign replo_text_e30842c3-58d7-49cd-8169-1be7e208c3d2 = replo_text_e30842c3-58d7-49cd-8169-1be7e208c3d2 | default: default_replo_text_e30842c3-58d7-49cd-8169-1be7e208c3d2 -%}
    "replo_text_e30842c3-58d7-49cd-8169-1be7e208c3d2": {{ replo_text_e30842c3-58d7-49cd-8169-1be7e208c3d2 | json }}, {%- assign replo_text_c78ced13-ddf2-4f18-a93e-00a807b930a5 = section.settings['replo_text_c78ced13-ddf2-4f18-a93e-00a807b930a5'] -%}
    {%- capture default_replo_text_c78ced13-ddf2-4f18-a93e-00a807b930a5 -%}<p>Brilliance Without Compromise</p>{%- endcapture -%}
    {%- assign replo_text_c78ced13-ddf2-4f18-a93e-00a807b930a5 = replo_text_c78ced13-ddf2-4f18-a93e-00a807b930a5 | default: default_replo_text_c78ced13-ddf2-4f18-a93e-00a807b930a5 -%}
    "replo_text_c78ced13-ddf2-4f18-a93e-00a807b930a5": {{ replo_text_c78ced13-ddf2-4f18-a93e-00a807b930a5 | json }}, {%- assign replo_text_77ad216b-cf98-4700-ac49-864465ef2418 = section.settings['replo_text_77ad216b-cf98-4700-ac49-864465ef2418'] -%}
    {%- capture default_replo_text_77ad216b-cf98-4700-ac49-864465ef2418 -%}<p>That Costs 99% LessThan Diamonds</p>{%- endcapture -%}
    {%- assign replo_text_77ad216b-cf98-4700-ac49-864465ef2418 = replo_text_77ad216b-cf98-4700-ac49-864465ef2418 | default: default_replo_text_77ad216b-cf98-4700-ac49-864465ef2418 -%}
    "replo_text_77ad216b-cf98-4700-ac49-864465ef2418": {{ replo_text_77ad216b-cf98-4700-ac49-864465ef2418 | json }}, {%- assign replo_text_d7082e5d-d9e8-4288-a11e-52a5fa7a8acc = section.settings['replo_text_d7082e5d-d9e8-4288-a11e-52a5fa7a8acc'] -%}
    {%- capture default_replo_text_d7082e5d-d9e8-4288-a11e-52a5fa7a8acc -%}<h3><strong>Say goodbye to inflated prices and marketing lies. </strong>Moissanite <strong>outshines diamonds</strong> in brilliance, price, and ethics —<strong>at 99% less</strong>. Why pay more for a less impressive ring.</h3>{%- endcapture -%}
    {%- assign replo_text_d7082e5d-d9e8-4288-a11e-52a5fa7a8acc = replo_text_d7082e5d-d9e8-4288-a11e-52a5fa7a8acc | default: default_replo_text_d7082e5d-d9e8-4288-a11e-52a5fa7a8acc -%}
    "replo_text_d7082e5d-d9e8-4288-a11e-52a5fa7a8acc": {{ replo_text_d7082e5d-d9e8-4288-a11e-52a5fa7a8acc | json }}, {%- assign replo_style_image_44c2bc60-f4de-46e3-ac8b-e405508e2a88 = section.settings['replo_style_image_44c2bc60-f4de-46e3-ac8b-e405508e2a88'] | image_url -%}
    {%- capture default_replo_style_image_44c2bc60-f4de-46e3-ac8b-e405508e2a88 -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Check_Mark_1.svg?v=1704281121{%- endcapture -%}
    {%- assign replo_style_image_44c2bc60-f4de-46e3-ac8b-e405508e2a88 = replo_style_image_44c2bc60-f4de-46e3-ac8b-e405508e2a88 | default: default_replo_style_image_44c2bc60-f4de-46e3-ac8b-e405508e2a88 -%}
    "replo_style_image_44c2bc60-f4de-46e3-ac8b-e405508e2a88": {{ replo_style_image_44c2bc60-f4de-46e3-ac8b-e405508e2a88 | json }}, {%- assign replo_text_76aab49b-bb32-4703-92bc-624cf48114d0 = section.settings['replo_text_76aab49b-bb32-4703-92bc-624cf48114d0'] -%}
    {%- capture default_replo_text_76aab49b-bb32-4703-92bc-624cf48114d0 -%}<p><strong>Costs 99% less</strong> &amp; comes with a <strong>lifetime guarantee</strong>.</p>{%- endcapture -%}
    {%- assign replo_text_76aab49b-bb32-4703-92bc-624cf48114d0 = replo_text_76aab49b-bb32-4703-92bc-624cf48114d0 | default: default_replo_text_76aab49b-bb32-4703-92bc-624cf48114d0 -%}
    "replo_text_76aab49b-bb32-4703-92bc-624cf48114d0": {{ replo_text_76aab49b-bb32-4703-92bc-624cf48114d0 | json }}, {%- assign replo_style_image_320d81cb-9708-4381-aa93-e762366109ff = section.settings['replo_style_image_320d81cb-9708-4381-aa93-e762366109ff'] | image_url -%}
    {%- capture default_replo_style_image_320d81cb-9708-4381-aa93-e762366109ff -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Check_Mark_1.svg?v=1704281121{%- endcapture -%}
    {%- assign replo_style_image_320d81cb-9708-4381-aa93-e762366109ff = replo_style_image_320d81cb-9708-4381-aa93-e762366109ff | default: default_replo_style_image_320d81cb-9708-4381-aa93-e762366109ff -%}
    "replo_style_image_320d81cb-9708-4381-aa93-e762366109ff": {{ replo_style_image_320d81cb-9708-4381-aa93-e762366109ff | json }}, {%- assign replo_text_71d6de91-dbc7-4edc-bc12-43cb51b89755 = section.settings['replo_text_71d6de91-dbc7-4edc-bc12-43cb51b89755'] -%}
    {%- capture default_replo_text_71d6de91-dbc7-4edc-bc12-43cb51b89755 -%}<p><strong>Outshines every known gem</strong> with scientifically proven brilliance.</p>{%- endcapture -%}
    {%- assign replo_text_71d6de91-dbc7-4edc-bc12-43cb51b89755 = replo_text_71d6de91-dbc7-4edc-bc12-43cb51b89755 | default: default_replo_text_71d6de91-dbc7-4edc-bc12-43cb51b89755 -%}
    "replo_text_71d6de91-dbc7-4edc-bc12-43cb51b89755": {{ replo_text_71d6de91-dbc7-4edc-bc12-43cb51b89755 | json }}, {%- assign replo_style_image_681168cf-e106-4e59-944f-72d61d20b1d0 = section.settings['replo_style_image_681168cf-e106-4e59-944f-72d61d20b1d0'] | image_url -%}
    {%- capture default_replo_style_image_681168cf-e106-4e59-944f-72d61d20b1d0 -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Check_Mark_1.svg?v=1704281121{%- endcapture -%}
    {%- assign replo_style_image_681168cf-e106-4e59-944f-72d61d20b1d0 = replo_style_image_681168cf-e106-4e59-944f-72d61d20b1d0 | default: default_replo_style_image_681168cf-e106-4e59-944f-72d61d20b1d0 -%}
    "replo_style_image_681168cf-e106-4e59-944f-72d61d20b1d0": {{ replo_style_image_681168cf-e106-4e59-944f-72d61d20b1d0 | json }}, {%- assign replo_text_ab4c858a-7ebf-4f69-ab40-454b8e4c2464 = section.settings['replo_text_ab4c858a-7ebf-4f69-ab40-454b8e4c2464'] -%}
    {%- capture default_replo_text_ab4c858a-7ebf-4f69-ab40-454b8e4c2464 -%}<p><strong>100% ethical</strong>: No blood diamonds, no harm, no guilt.</p>{%- endcapture -%}
    {%- assign replo_text_ab4c858a-7ebf-4f69-ab40-454b8e4c2464 = replo_text_ab4c858a-7ebf-4f69-ab40-454b8e4c2464 | default: default_replo_text_ab4c858a-7ebf-4f69-ab40-454b8e4c2464 -%}
    "replo_text_ab4c858a-7ebf-4f69-ab40-454b8e4c2464": {{ replo_text_ab4c858a-7ebf-4f69-ab40-454b8e4c2464 | json }}, {%- assign replo_style_image_251003eb-8fb8-42a1-86ca-edb153de8b02 = section.settings['replo_style_image_251003eb-8fb8-42a1-86ca-edb153de8b02'] | image_url -%}
    {%- capture default_replo_style_image_251003eb-8fb8-42a1-86ca-edb153de8b02 -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Check_Mark_1.svg?v=1704281121{%- endcapture -%}
    {%- assign replo_style_image_251003eb-8fb8-42a1-86ca-edb153de8b02 = replo_style_image_251003eb-8fb8-42a1-86ca-edb153de8b02 | default: default_replo_style_image_251003eb-8fb8-42a1-86ca-edb153de8b02 -%}
    "replo_style_image_251003eb-8fb8-42a1-86ca-edb153de8b02": {{ replo_style_image_251003eb-8fb8-42a1-86ca-edb153de8b02 | json }}, {%- assign replo_text_4063c983-653e-4e6a-b7e6-3f4bb453cbd3 = section.settings['replo_text_4063c983-653e-4e6a-b7e6-3f4bb453cbd3'] -%}
    {%- capture default_replo_text_4063c983-653e-4e6a-b7e6-3f4bb453cbd3 -%}<p><strong>Precision-crafted</strong> to perfection, <strong>engineered for brilliance</strong>.</p>{%- endcapture -%}
    {%- assign replo_text_4063c983-653e-4e6a-b7e6-3f4bb453cbd3 = replo_text_4063c983-653e-4e6a-b7e6-3f4bb453cbd3 | default: default_replo_text_4063c983-653e-4e6a-b7e6-3f4bb453cbd3 -%}
    "replo_text_4063c983-653e-4e6a-b7e6-3f4bb453cbd3": {{ replo_text_4063c983-653e-4e6a-b7e6-3f4bb453cbd3 | json }}, {%- assign replo_url_869639df-3116-4fbd-bed7-bdfd2830b0a8 = section.settings['replo_url_869639df-3116-4fbd-bed7-bdfd2830b0a8'] -%}
    {%- capture default_replo_url_869639df-3116-4fbd-bed7-bdfd2830b0a8 -%}https://andytown-public.s3.amazonaws.com/templates/component-templates/Pique%20Lp/radiant-skin-duo-pov%23our-offers{%- endcapture -%}
    {%- assign replo_url_869639df-3116-4fbd-bed7-bdfd2830b0a8 = replo_url_869639df-3116-4fbd-bed7-bdfd2830b0a8 | default: default_replo_url_869639df-3116-4fbd-bed7-bdfd2830b0a8 -%}
    "replo_url_869639df-3116-4fbd-bed7-bdfd2830b0a8": {{ replo_url_869639df-3116-4fbd-bed7-bdfd2830b0a8 | json }}, {%- assign replo_text_483b6dd3-8c10-43d0-a58a-ea243b5b6824 = section.settings['replo_text_483b6dd3-8c10-43d0-a58a-ea243b5b6824'] -%}
    {%- capture default_replo_text_483b6dd3-8c10-43d0-a58a-ea243b5b6824 -%}<p><strong>EXPERIENCE THE DIFFERENCE</strong></p>{%- endcapture -%}
    {%- assign replo_text_483b6dd3-8c10-43d0-a58a-ea243b5b6824 = replo_text_483b6dd3-8c10-43d0-a58a-ea243b5b6824 | default: default_replo_text_483b6dd3-8c10-43d0-a58a-ea243b5b6824 -%}
    "replo_text_483b6dd3-8c10-43d0-a58a-ea243b5b6824": {{ replo_text_483b6dd3-8c10-43d0-a58a-ea243b5b6824 | json }}, {%- assign replo_style_image_d36c9680-e4ce-4b68-a453-7079d638da6d = section.settings['replo_style_image_d36c9680-e4ce-4b68-a453-7079d638da6d'] | image_url -%}
    {%- capture default_replo_style_image_d36c9680-e4ce-4b68-a453-7079d638da6d -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Truck.svg?v=1704280444{%- endcapture -%}
    {%- assign replo_style_image_d36c9680-e4ce-4b68-a453-7079d638da6d = replo_style_image_d36c9680-e4ce-4b68-a453-7079d638da6d | default: default_replo_style_image_d36c9680-e4ce-4b68-a453-7079d638da6d -%}
    "replo_style_image_d36c9680-e4ce-4b68-a453-7079d638da6d": {{ replo_style_image_d36c9680-e4ce-4b68-a453-7079d638da6d | json }}, {%- assign replo_text_5458a398-8106-46d8-b778-bcc4c8fbbd39 = section.settings['replo_text_5458a398-8106-46d8-b778-bcc4c8fbbd39'] -%}
    {%- capture default_replo_text_5458a398-8106-46d8-b778-bcc4c8fbbd39 -%}<p><strong>Lifetime Brilliance Guarantee</strong></p>{%- endcapture -%}
    {%- assign replo_text_5458a398-8106-46d8-b778-bcc4c8fbbd39 = replo_text_5458a398-8106-46d8-b778-bcc4c8fbbd39 | default: default_replo_text_5458a398-8106-46d8-b778-bcc4c8fbbd39 -%}
    "replo_text_5458a398-8106-46d8-b778-bcc4c8fbbd39": {{ replo_text_5458a398-8106-46d8-b778-bcc4c8fbbd39 | json }}, {%- assign replo_style_image_ec65b0f1-e87e-420e-bd29-d9826a91dd1c = section.settings['replo_style_image_ec65b0f1-e87e-420e-bd29-d9826a91dd1c'] | image_url -%}
    {%- capture default_replo_style_image_ec65b0f1-e87e-420e-bd29-d9826a91dd1c -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Type_Sample.svg?v=1704280463{%- endcapture -%}
    {%- assign replo_style_image_ec65b0f1-e87e-420e-bd29-d9826a91dd1c = replo_style_image_ec65b0f1-e87e-420e-bd29-d9826a91dd1c | default: default_replo_style_image_ec65b0f1-e87e-420e-bd29-d9826a91dd1c -%}
    "replo_style_image_ec65b0f1-e87e-420e-bd29-d9826a91dd1c": {{ replo_style_image_ec65b0f1-e87e-420e-bd29-d9826a91dd1c | json }}, {%- assign replo_text_e7b3b746-16d7-4329-a393-7d9ee8a63ec0 = section.settings['replo_text_e7b3b746-16d7-4329-a393-7d9ee8a63ec0'] -%}
    {%- capture default_replo_text_e7b3b746-16d7-4329-a393-7d9ee8a63ec0 -%}<p><strong>100% Conflict Free Luxury</strong></p>{%- endcapture -%}
    {%- assign replo_text_e7b3b746-16d7-4329-a393-7d9ee8a63ec0 = replo_text_e7b3b746-16d7-4329-a393-7d9ee8a63ec0 | default: default_replo_text_e7b3b746-16d7-4329-a393-7d9ee8a63ec0 -%}
    "replo_text_e7b3b746-16d7-4329-a393-7d9ee8a63ec0": {{ replo_text_e7b3b746-16d7-4329-a393-7d9ee8a63ec0 | json }}, {%- assign replo_style_image_b9ad08d5-ab08-4e33-955d-16205195eb27 = section.settings['replo_style_image_b9ad08d5-ab08-4e33-955d-16205195eb27'] | image_url -%}
    {%- capture default_replo_style_image_b9ad08d5-ab08-4e33-955d-16205195eb27 -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/Money_Back.svg?v=1704280481{%- endcapture -%}
    {%- assign replo_style_image_b9ad08d5-ab08-4e33-955d-16205195eb27 = replo_style_image_b9ad08d5-ab08-4e33-955d-16205195eb27 | default: default_replo_style_image_b9ad08d5-ab08-4e33-955d-16205195eb27 -%}
    "replo_style_image_b9ad08d5-ab08-4e33-955d-16205195eb27": {{ replo_style_image_b9ad08d5-ab08-4e33-955d-16205195eb27 | json }}, {%- assign replo_text_5caa1574-05bc-483c-8aab-4962fc9c1cfc = section.settings['replo_text_5caa1574-05bc-483c-8aab-4962fc9c1cfc'] -%}
    {%- capture default_replo_text_5caa1574-05bc-483c-8aab-4962fc9c1cfc -%}<p><strong>99% More Affordable </strong></p>{%- endcapture -%}
    {%- assign replo_text_5caa1574-05bc-483c-8aab-4962fc9c1cfc = replo_text_5caa1574-05bc-483c-8aab-4962fc9c1cfc | default: default_replo_text_5caa1574-05bc-483c-8aab-4962fc9c1cfc -%}
    "replo_text_5caa1574-05bc-483c-8aab-4962fc9c1cfc": {{ replo_text_5caa1574-05bc-483c-8aab-4962fc9c1cfc | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}